@tailwind base;
@tailwind components;
@tailwind utilities;

.case-on {
  font-feature-settings: "case" on;
}

.header-mask-image::before {
  mask-image: linear-gradient(to bottom, black 91px, transparent);
}

.bg-slider-gradient {
  background: linear-gradient(
      180deg,
      rgba(12, 12, 12, 0) 9.51%,
      rgba(12, 12, 12, 0.35) 38.83%,
      #0c0c0c 100%
    ),
    rgba(12, 12, 12, 0.06);
}

.bg-page-gradient {
  background: radial-gradient(
      72.51% 72.51% at 50% 18.7%,
      rgba(92, 100, 255, 0.13) 0%,
      rgba(92, 100, 255, 0) 100%
    ),
    #0c0c0c;
}

.bg-input-success {
  background: linear-gradient(
      0deg,
      rgba(41, 255, 110, 0.05),
      rgba(41, 255, 110, 0.05)
    ),
    rgba(255, 255, 255, 0.05);
}

.bg-input-error {
  background: linear-gradient(
      0deg,
      rgba(255, 77, 73, 0.05),
      rgba(255, 77, 73, 0.05)
    ),
    rgba(255, 255, 255, 0.05);
}
